@media only screen 
  and (min-device-width: 901px) 
  and (max-device-width: 2000px) 

{
#homepage{
    z-index:0;
    position: relative;
     margin-top: 21%;
    text-shadow:1px 1px 1rem #585858;
}
#userpage{
    z-index:0;
    position: relative;
    margin-top:-140%;
    text-shadow:1px 1px 1rem #585858;
}
#hr{
    visibility: hidden;
    display:none;
}


.navbar{
    z-index: 4;
    overflow: hidden;
    background-color: white;
    color: white;
    position: fixed;
    top: 17px;
    right: -5px;
    width: auto;
    padding: 13px;
    align-items: right;
    text-align: right;
    font-weight: bold;
    border-radius: 7px;
    box-shadow: 0px 0px 13rem 1px #00000052;

}

#navbtn1{
    color:rgb(202, 202, 202);
    padding: 17px;
    text-shadow: black;
    border-width: 0px;
    font-size: 20px;
}
#navbtn2{
    color:rgb(202, 202, 202);
    padding: 17px;
    text-shadow: black;
    border-width: 0px;
    font-size: 20px;
}
#navbtn3{
    color:rgb(202, 202, 202);
    padding: 17px;
    text-shadow: black;
    border-width: 0px;
    font-size: 20px;
   
}
#navbtn4{
    color:rgb(202, 202, 202);
   padding: 17px;
   text-shadow: black;
   border-width: 0px;
   font-size: 20px;
}
#heroimg{
    width: 5%;
    border-radius: 56%;
    top: 2%;
    transform: translateX(23%);
    position: fixed;
    z-index:4;
    box-shadow: 0px 0px 13rem 1px #00000052;
}

.hero_text{
    font-size: 40px;
    color: white;
    background: #4201ff;
    padding: 10px;
    z-index: 0;
    position: relative;
    text-align: left;
    margin-top: -12%;
    top: auto;
    height: 420px;
}

.hero_name{
margin: 19%;
font-size: 20px;
color: white;
background: #4201ff;
padding: 13px;
margin-top: 0%;
z-index: 1;
position: relative;
border-radius: 100px;
text-align: center;

}
.hero_card{
font-weight: 700;
text-align: center;
font-size: 22px;
color: white;
background: #4201ff;
padding: 2px;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 25px;
z-index: 1;
position: relative;
border-radius: 22px;
margin: 4%;
margin-top: -12%;
box-shadow: 0px 0px 13rem 1px #00000052;
}







.social_btn{
    bottom: 1%;
    position:fixed;
font-weight: 700;
text-align: right;
align-content: right;
font-size: 22px;
color: white;
background: #4201ff;
padding: 20px;
z-index: 4;

overflow: hidden;
position: fixed;

right: -5px;
width: auto;

align-items: right;
text-align: right;
font-weight: bold;
border-radius: 7px;
box-shadow: 0px 0px 13rem 1px #00000052;
}
.social_btn a{

text-align: center;
font-size: 22px;
color: white;



z-index: 1;
position: relative;
border-radius: 22px;

box-shadow: 5px 5px 5rem 5px black;
}
.social_text{
margin-left:6%;
margin-top:10%;
font-size:30px;
}
body{
transition: 0.3s;
margin:0;
-webkit-font-smoothing: antialiased;
color: #292929;
background:white;
text-shadow:1px 1px 0.5rem 1px white;
}
}
  