.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.margin-auto {
    margin: auto;
}

.bg_white {
    background: white;
    color: black;
}

.bg_black {
    background: black;
    color: White;
}

.display_block {
    display: block;
}

.overflow_hidden {
    overflow: hidden;
}

.text_bold {
    font-size: bolder;
}

.hr-center {
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    overflow: hidden;
}

.circle {
    border-radius: 50%;
}

.relative {
    position: relative;
}