/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1000px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 





body{
    background-color: white;
}
a{
    color:black;
    text-decoration:none;
}
#hero{
  
    text-align: center;
   
}
#nav{
    
    PADDING:2%;
    COLOR:Black;
    transition:ease-in-out;

   
}
#nav:hover{
    PADDING:2%;
    COLOR:Black;
    box-shadow:1px 1px 20rem 0.1px black;
}
#heroimg{
   
    width:25%;
    height:20%;
    border-radius:50%;
    margin-top:8%;
    box-shadow:1px 1px 20rem 0.1px black;
   z-index:-1;
}

#hero_text{
    margin-left:48%;
    margin-right:25%;
   
    size:27px;
    color:white;
    background:blue;
    padding:10px;
    margin-top:-5%;
    
    z-index:1;
    position: relative;
    border-radius:100px;

    box-shadow: 5px 5px 5rem 5px black;
}

  }