
/* iphone screen */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) 
{

P{
Font-size:16px;
}
a{
    color:White;
    text-decoration:none;
}
#hero{
  
    text-align: center;
   
}
#nav{
    position:fixed;
    PADDING:2%;
    text-align:center;
    transition:ease-in-out;
    size:16px;
    z-index:3;
   
}

#heroimg{
   
   width:100%;

  
    margin-top:10%;
 
   z-index:-1;
}

#hero_text{
    size: 27px;
    color: black;
    background: white;
    padding: 20px;
    z-index: 1;
    position: relative;
    border-radius: 100px;
    margin: 10%;
    margin-top: 8%;
    height: 50%;
    

}
body{
    background-image:url("https://instagram.fluh2-1.fna.fbcdn.net/vp/538c0ff9c61bc32c939435efe1d88fc8/5D646E54/t51.2885-19/s320x320/60442225_2371396106434320_7135475047132561408_n.jpg?_nc_ht=instagram.fluh2-1.fna.fbcdn.net")
    background-repeat-x: no-repeat;
background-repeat-y: no-repeat;
}
}