
/* iphone screen */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) 
{

P{
Font-size:16px;
}
a{
    color:White;
    text-decoration:none;
}
#nav{
    position:fixed;
    PADDING:2%;
    text-align:center;
    transition:ease-in-out;
    size:16px;

   
}
body{
    background: black;
}
}