
/* iphone screen */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) 
{

P{
Font-size:16px;
}
a{
    color:White;
    text-decoration:none;
}
#nav{
    position:fixed;
    PADDING:2%;
    text-align:center;
    transition:ease-in-out;
    size:16px;
    z-index:3;
   
}

#heroimg{
   
    width:40%;

    border-radius:50%;
    margin-top:10%;
 
   z-index:-1;
}

#hero_text{
    margin-left:48%;
    margin-right:25%;
   
    size:27px;
    color:white;
    background:blue;
    padding:10px;
    margin-top:-5%;
    
    z-index:1;
    position: relative;
    border-radius:100px;

    box-shadow: 5px 5px 5rem 5px black;
}
body{
    background: black;
}
}