
/* iphone screen */
@media only screen 
  and (min-device-width: 100px) 
  and (max-device-width: 900px) 

{
.backbutton{
    padding: 23px;
    border-radius: 86px;
    border-width: 0px;
    font-size: 27px;
    background-color: white;
    color: black;
    margin-left: 10px;
}
.aboutbutton{
    padding: 20px;
    border-radius: 86px;
    border-width: 0px;
    font-size: 33px;
    background-color: white;
    color: black;
  
}
P{
Font-size:16px;
}
a{
    color:White;
    text-decoration:none;
}
#hero{
  
    text-align: center;
   
}
#nav{
    position:fixed;
    PADDING:2%;
    text-align:center;
    transition:ease-in-out;
    size:16px;
    z-index:3;
   
}

#heroimg{
   
    width:40%;
    height:20%;
    border-radius:50%;
    margin-top:10%;
    box-shadow:1px 1px 20rem 0.1px black;
   z-index:-1;
}
#hero-text{
    margin-left: 56%;
    margin-right: 24%;
    font-size: 50px;
    color: white;
    background: blue;
    padding: 14px;
    margin-top: -8%;
    z-index: 1;
    position: relative;
    border-radius: 100px;
    box-shadow: 5px 5px 5rem 5px black;
    text-align: center;
}
#hero-name{
    margin: 19%;
    font-size: 45px;
    color: white;
    background: blue;
    padding: 26px;
    margin-top: 0%;
    z-index: 1;
    position: relative;
    border-radius: 100px;
    box-shadow: 5px 5px 5rem 5px black;
    text-align: center;

}
#hero-card{
    text-align: center;
    font-size: 37px;
    color: black;
    background: white;
    padding: 35px;
    padding-left: 53px;
    z-index: 1;
    position: relative;
    border-radius: 70px;
    margin: 4%;
    margin-top: -10%;
    height: 800px;
    

}
#ad{
Width:50%;
}
body{
  background: black;

}
}
